form {
    margin: 50px 150px;
}

.proposal {
    color: #000;
    text-shadow: 0 2px 5px #585858;
}

.container {
    max-width: 700px;
}

p {
    text-shadow: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.footer {
    color: #777;
    padding: 20px 0;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

